[Desktop Entry]
Type=Application
Name=LibreApps
GenericName=1-click Package Installer
GenericName[zh_CN]=软件包一键安装器
NoDisplay=true
Comment=1-click Install FOSS Applications On LibreApps
Comment[zh_CN]=一键安装 LibreApps 上的自由软件应用
Categories=Settings;PackageManager;
Icon=libreapps
Exec=/usr/bin/libreapps %u
MimeType=x-scheme-handler/install;x-scheme-handler/packages;
